div#archives ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div#archives ul.months, div#archives ul.days, div#archives ul.pages {
    margin-top: -2em;
}

div#archives div {
    height: 2em;
    font-weight: bold;
    text-align: right;
}

div#archives ul.years div {
    width: 4em;
}

div#archives ul.months {
    margin-left: 4em;
    padding: 0;
}

div#archives ul.months div {
    width: 7em;
}

div#archives ul.days {
    margin-left: 7em;
}

div#archives ul.days div {
    width: 2em;
}

div#archives ul.pages {
    margin-left: 2em;
}

div#archives ul.pages li {
    margin-bottom: 0.5em;
    margin-left: 1em;
}
