#archives {
    list-style-type: none;

    > li > div {
        width: 3em;
    }

    ul.months, ul.days, ul.pages {
        margin-top: -2em;
    }

    ul.days {
        margin-left: 7em;
        > li > div { width: 2em; }
    }

    ul.months {
        margin-left: 4em;
        padding: 0;
        > li > div {
            width: 6em;
            text-align: center;
        }
    }

    ul.pages > li.popular {
        background-color: #ddb;
        &:after {
            float: right;
            content: "Popular";
            color: $middle-color;
            font-size: smaller;
            padding: 0 1em;
        }
    }

    ul.pages {
        margin-left: 2em;
        > li {
            margin-bottom: 0.5em;
            margin-left: 1em;
        }
    }

    div {
        height: 2em;
        font-weight: bold;
        text-align: right;
    }
}
