#archives {
    padding: 0;

    > li {
        time, a {
            display: inline-block;

            /* For IE7 */
            zoom: 1;
            *display: inline;
        }

        time { width: 35%; }
        a { width: 60%; }

        &.popular {
            background-color: #ddb;
            &:after {
                float: right;
                content: "Popular";
                color: $middle-color;
                font-size: smaller;
                padding: 0 1em;
            }
        }
    }
}
