$background-color: #eee;
$foreground-color: #111;
$link-color: #444;
$visited-link-color: #222;
$middle-color: gray;

$main_width: 44em;

@import 'reset.css';

@mixin border_radius($top, $bottom) {
    -moz-border-radius: $top $top $bottom $bottom;
    -webkit-border-radius: $top $top $bottom $bottom;
    border-radius: $top $top $bottom $bottom;
}

@mixin box {
    border: thin solid $middle-color;
    padding: 0.5em 1em;
    @include border_radius(5px, 5px);
}

@mixin centered {
    margin: 0 auto;
    padding: 0.5em 2em;
    width: $main_width;
    max-width: 90%;
}

html, body, input, select, textarea, button {
    font: {
        size: 100%;
        family: sans-serif;
    }
    background-color: $background-color;
    color: $foreground-color;
}

html {
    background: url(../images/background.png) repeat;
}

body {
    @include centered;
    @include box;

    border-width: medium;
}

a {
    color: $link-color;
    text-decoration: none;
    border-bottom: thin dotted;
    &:hover { border-bottom: thin solid; }
    &:active, &:visited { color: $visited-link-color; }
}

dt {
    font-weight: bold;
}

p, ul, ol {
    line-height: 150%;
}

h1 { font-size: x-large; }
h2 { font-size: large; }
h3 { font-size: normal; }
h4 { font-size: normal; color: gray; }

nav {
    border-bottom: thin solid $middle-color;
    padding-bottom: 0.3em;
    margin-bottom: 0.7em;

    & > form {
        display: inline;
        float: right;
    }
}

#menu {
    display: inline;
    list-style: none;
    & > li {
        display: inline;
        padding-right: 1em;
    }

    padding: 0;
}

footer {
    text-align: center;
    font-size: small;
}

#search {
    @include box;

    background: $background-color url(../images/icons/search.png) no-repeat scroll 98% 50%;
    color: $middle-color;
    padding: 0.5em;
    &:focus { color: $foreground-color; }
}

h1#title {
    margin-top: 0;
}

p.date {
    font-size: small;
    font-weight: normal;
    white-space: nowrap;

    margin-top: -1em;
    margin-left: 5em;
    color: $middle-color;
}

table {
    border-collapse: collapse;
    width: 100%;
    caption, td, th { padding: 0.2em; }
    td, th { border: thin solid gray; }
    td { text-align: center; }
    .dark { background-color: silver; }
}

.code {
    font-family: monospace;
}

pre, .code {
    border: gray solid thin;
    background-color: silver;
    padding: 1em;
}

div.content {
    width: $main_width;
}

.lined {
    margin-top: 2em;
    border-top: thin solid;
}

hr {
    border: 0;
    background-color: $background-color;
    height: 1px;
    margin: 2em 0;
}

div.picture {
    text-align: center;
    margin: 0 auto;
}

img {
    display: block;
    margin: 0 auto;
    border: none;
    &.icon {
        display: inline;
        border: none;
  }
}

img.right {
    float: right;
    margin: 1em;
}

/* Don't display useless crap when printing */
@media print {
    body { border: none }
    nav, .noprint { display: none; }
    div.content { width: 100%; }
}

/* vim:set sw=4 ts=4: */
