$background-color: #eed;
$foreground-color: #112;
$link-color: #443;
$visited-link-color: #221;
$middle-color: #997;

$main_width: 44em;

/* HTML5 display-role reset for older browsers */
article, footer, nav {
    display: block;
}

html, body, nav, input, select, textarea, button {
    font: {
        size: 100%;
        family: sans-serif;
    }
    background-color: $background-color;
    color: $foreground-color;
}

body {
    margin: 0 auto;
    padding: 0 4em 2em 4em;
    width: $main_width;
    max-width: 90%;
}

a {
    color: $link-color;
    text-decoration: none;
    border-bottom: thin dotted;
    &:hover { border-bottom: thin solid; }
    &:active, &:visited { color: $visited-link-color; }
}

dt {
    font-weight: bold;
}

p, ul, ol {
    line-height: 150%;
}

h1, h2, h3, h4, time { text-align: center; }
h1 {
    font-size: x-large;
    padding: 1em;
    margin: 0;
}
h2 {
    font-size: large;
    border-top: thin solid $middle-color;
}
h3 { font-size: normal; }
h4 { font-size: normal; color: gray; }

time { display: block; font-size: 70%; color: $middle-color; }

nav ul { margin: 0; list-style-type: none; }

#menu {
    background-color: transparent;
    position: fixed;
    top: 1em;
    left: 1em;

    input {
        border: thin solid $middle-color;
        background: $background-color url(../images/icons/search.png) no-repeat scroll 98% 50%;
        color: $middle-color;
        padding: 0.5em;
        display: block;
        margin: 0 auto;
        &:focus { color: $foreground-color; }
    }

    ul {
        padding: 0;
        & > li {
            // text-align: center;
        }
    }
}

footer {
    text-align: center;
    font-size: small;
}

table {
    border-collapse: collapse;
    width: 100%;
    caption, td, th { padding: 0.2em; }
    td, th { border: thin solid gray; }
    td { text-align: center; }
    .dark { background-color: $middle-color; }
}

.code {
    font-family: monospace;
}

pre, .code {
    padding: 1em;
}

div.picture {
    text-align: center;
    margin: 0 auto;
}

img {
    display: block;
    margin: 0 auto;
    border: none;
    &.icon {
        display: inline;
  }
}

img.right {
    float: right;
    margin: 1em;
}

@import 'archives';

/* Don't display useless crap when printing */
@media print {
    nav, .noprint { display: none; }
    div.content { width: 100%; }
}

/* vim:set sw=4 ts=4: */
