$clear: #FDFEFD;
$dark: #444;
$black: #100A10;
$background-color: $clear;
$color: $black;

* {
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: 'kern=1';
    -moz-font-feature-settings: 'kern' 1;
    -webkit-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    -ms-font-feature-settings: 'kern' 1;
    font-feature-settings: 'kern' 1;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    color: $color;
    margin: 0 auto;
    max-width: 41em;
    padding: 0.5em;
    font-family: 'Equity Text', serif;
    > article, > section {
            max-width: 28em;
            margin: 0 auto;
            padding: 2rem 0;
            line-height: 1.35;
    }
}
h1, h2, h3 {
    font-family: 'Concourse', sans-serif;
    font-weight: 700;
    margin: 1.6em 0 0.9em 0;
}
h1 {
    font-size: 130%;
    border-top: 0.15em solid;
    margin-top: 0.9em;
}
h2 {
    font-size: 120%;
}
h3 {
    font-size: 110%;
}

a {
        border-bottom: 1px dotted;
        color: inherit;
        text-decoration: none;
        &:hover {
                border-bottom-style: solid;
        }
}

aside, footer, time {
    font-family: 'Concourse', sans-serif;
    font-weight: 300;
}
aside, time {
    color: $dark;
    padding-left: 1.5em;
    margin-bottom: 1em;
    font-size: 80%;
}
time {
    display: block;
}
footer {
    border-top: thin solid;
    margin: 1em auto;
    text-align: center;
    font-size: 80%;
    margin-top: 2em;
    padding-top: 1.2em;
    color: $dark;
}

blockquote {
    font-size: 90%;
    color: $dark;
    font-family: 'Concourse', sans-serif;
    margin: 1.5rem;
}
pre, code {
    font-family: 'Source Code Pro', monospace;
    font-size: 85%;
}
pre {
    margin: 2.5em 0;
    line-height: 1.35em;
    small {
            font-size: 65%;
    }
}

a {
    text-decoration: none;
    border-bottom: 1px dotted;
}

table {
    font-family: 'Concourse', sans-serif;
    border-collapse: collapse;
    border-style: hidden;
    color: $dark;
    font-size: 80%;
    margin: 2.5em 0;
    width: 100%;

    caption {
            margin-bottom: 1em;
    }

    td, th {
            border: thin solid;
            padding: 0.45em 0.7em;
    }
    th { font-weight: 400; }
    td { color: black; }
}

li {
    margin-left: 1.35rem;
    padding-left: 1.15rem;
    margin-bottom: 0.7em;
    font-size: 95%;
}

nav {
    font-family: 'Concourse', sans-serif;
    float: left;
    font-size: 80%;
    a {
            vertical-align: middle;
            color: $clear;
            background-color: $dark;
            border-bottom: none;
            border-radius: 5px;
            padding: 0.3rem 0.6rem;
            margin: thin;
            &:hover { background-color: #777; }
    }
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	margin: 0.5em;
}

img.right-40 {
	float: right;
	max-width: 40%;
}

img.right-20 {
	float: right;
	max-width: 20%;
}

@media (min-width: 50em) {
    body {
            > article, > section {
                    margin: 0 0 0 11rem;
            }
    }
    nav {
        margin-top: 3rem;
    }
    nav, aside, article > time {
        float: left;
        width: 10rem;
        text-align: right;
    }
    aside, article > time {
        margin-left: -11rem;
        padding-left: 2rem;
        border-width: thin 0 0 0;
        border-style: solid;
    }
}

@media screen and (max-widht: 40em) {html{font-size: 1em}}
@media screen and (min-width: 50em) {html {font-size: 1.1em}}
@media screen and (min-width: 60em) {html {font-size: 1.2em}}
@media screen and (min-width: 70em) {html {font-size: 1.3em}}
@media screen and (min-width: 80em) {html {font-size: 1.4em}}
@media screen and (min-width: 90em) {html {font-size: 1.5em}}
