{% extends 'base.html.tmpl' %}

{% block head %}
{{ super() }}
<link rel='stylesheet' type='text/css' href='{{ top_dir }}archives.css'>
{% endblock %}

{% block content %}
<h1 id='title'>Archives</h1>

{% include 'pages_summary.html.tmpl' %}

{% endblock %}

{% block archives %}{% endblock %}
{# vim:set ft=htmljinja sw=4 ts=4 et: #}
