{% extends 'base.html.tmpl' %}

{% block content %}
{% set page = pages[0] %}
<h1 id='title'><a href='{{ page.url(url) }}'>{{ page.title|escape|decode }}</a></h1>
{%- if page.date -%}
<time date='{{ page.date }}'>{{ page.date.strftime('%B %e %Y') }}</time>
{%- endif -%}
<div class='content'>
{{ page.html(curdir='.')|decode }}</div>

<nav class='noprint'>
    <h2>Older posts</h2>

    {% set pages = pages[1:] %}
    {% include 'pages_summary.html.tmpl' %}
</nav>
{% endblock %}

{# vim:set ft=htmljinja: #}
