{% extends 'base.html.tmpl' %}

{% block content %}
{% set page = pages[0] %}
<h1><a href='{{ page.url(url) }}' title='Direct link to this post'>{{ page.title|escape|decode }}</a></h1>
{%- if page.date -%}
<time pubdate datetime='{{ page.date|rfc3339 }}'>{{ page.date.strftime('%B %e %Y') }}</time>
{%- endif -%}
<div>
{{ page.html()|decode }}</div>
{% endblock %}

{% block navigation %}
{{ super() }}
<h3>Older posts</h3>

{% set pages = pages[1:] %}
{% include 'pages_summary.html.tmpl' %}
{% endblock %}

{# vim:set ft=htmljinja: #}
