{% extends 'base.html.tmpl' %}

{% block content %}
<h1>{{ title|escape|decode }}</h1>

{%- if date -%}
<time date='{{ date }}'>{{ date.strftime('%B %e %Y') }}</time>
{%- endif -%}

<div>
{{ content|decode }}
</div>
{% endblock %}

{# vim:set ft=htmljinja: #}
